/1-white-clouds-png-image.png
/20-cloud-png-image.png
/5-2-cloud-png-3.png
/Animback.css
/Animback.html
/Animback.js
/checkbox.css
/checkbox.html
/chessboard.css
/chessboard.html
/Class time table project.html
/css1-4th.css
/css4th.css
/custom text selection .css
/custom text selection.html
/demo.html
/download (1).jpg
/download.jpg
/Flexbox.html
/flowers.jpg
/gmail.css
/gmail.html
/gmail.js
/google.jpg
/google1.jpg
/hamburger.css
/hamburger.html
/hamburger.js
/hamburger2.css
/hamburger2.html
/html1-2ndhalf.html
/html1-3rd.html
/html1-4th.html
/html1-firsthalf.html
/html1.html
/loader.css
/loader.html
/menu.css
/menu.html
/navbar.js
/proj1.html
/proj2.html
/proj3.html
/regist form.html
/resopnsivenav.html
/responsivenav.css
/Search Box.css
/Search box.html
/searchbox.css
/searchbox.html
/start html1.html
/style1-2ndhalf.css
/style1-3rd.css
/style1-firsthalf.css
/style1.css
/styledemo.css
/table.css
/table.html
/textanimate.css
/textanimate.html
/Transition.html
/—Pngtree—floating realistic clouds_8623463.png